@font-face {
  font-family: Helvetica;
  src: url(../fonts/HelveticaNeueLTPro-Roman.otf);
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/HelveticaNeueLTPro-Bd.otf);
  font-weight: bold;
}

/*--------------------------------------------------------------
# general
--------------------------------------------------------------*/

body {
  background-color: #000;
}
*,
input,
a {
  font-family: 'Helvetica', sans-serif;
  color: white;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #0f1c8c;
}
a:visited {
  color: #fff;
}

/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/
.hero {
  padding: 6rem 0 1rem 0;
}

.hero-heading {
  font-weight: 400;
  font-size: 3rem;
  line-height: 55px;
}
nav {
  padding: 1.5% 2% 0 0;
  background-color: #000;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 0 0 2rem 0;
}

/*custom footer*/
.typer .cursor {
  color: #fff;
}
.typer-line {
  font-size: 2.5rem;
  font-weight: 700 !important;
  padding: 3% 0;
}
.typer-title {
  font-size: 4rem;
}

.credits {
  font-size: 0.7rem;
  color: #000;
}
