@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600&display=swap");

*,
input,
a {
  font-family: "Gothic A1", sans-serif;
  color: black;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #0029ff;
}
a:visited {
  color: #000;
}
h1 {
  font-size: 1.5rem;
  line-height: 150%;
}
.blue {
  color: #0029ff !important;
}

h2 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1rem;
}
.webnotes-link {
  text-decoration: underline !important;
}
/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/
.hero {
  padding: 6rem 0 1rem 0;
}

.works a {
  text-decoration: none;
}
.item {
  border: none;
}
.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}
.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.item .item-wrap:hover {
  text-decoration: none;
}
.item .item-wrap:hover img {
  transform: scale(1.05);
}
.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}
.carousel-control-next,
.carousel-control-prev {
  color: #000;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 0 0 2rem 0;
}

/*custom footer*/
.typer .cursor {
  color: #000;
}
.typer-line {
  font-size: 2.5rem;
  font-weight: 700 !important;
  padding: 3% 0;
}
.typer-title {
  font-size: 4rem;
}

.credits {
  font-size: 0.9rem;
  color: #000;
}
nav {
  padding: 2% 2% 1.5% 0;
}
nav a {
  font-size: 1.1rem;
  text-decoration: none !important;
}
.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  color: #000;
}

.nav-active {
  background-color: #000;
  color: #fff;
  padding: 1% 2% 1% 0;
}
.nav-fixed.nav-active a {
  font-size: 0.9rem;
  color: #fff;
}

.btn-custom {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 0.5rem 3rem;
}

.footer-photos {
  margin-left: -140px;
}
.work {
  margin-bottom: 5rem;
}
.work > h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 150%;
}

.work > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0.125rem;
}

section {
  margin: 5rem 0 0;
}
