
/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.custom-navmenu {
    background: #F6EEE3;
  }
  .custom-navmenu .custom-menu li a {
    color: #151214;
    padding: 10px 0 !important;
  }
 
  .custom-navmenu h3 {
    font-size: 20px;
    color: #151214;
  }
  
  .custom-navmenu p {
    color: #151214;
  }
  
  .custom-navmenu a {
    color: #151214;
  }
  
  .custom-navmenu a:hover {
    color: #151214;
  }

/* Custom Navbar */
.custom-navbar {
    background-color: #151214;
    padding-top: 50px;
    width: 100%;
  }

  .burger:before, .burger span, .burger:after {
    width: 100%;
    height: 2px;
    display: block;
    background: #F6EEE3;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
  }
  
/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/
  .hero{
    background-color: #151214;
  }
  .hero-heading {
    color: #F6EEE3;
    font-weight: 700 !important;
  }

.portfolio-grid{
    margin: 0 5%;
}

.item .item-wrap:hover:after {
    opacity: 0;
    visibility: visible;
  }
.work-title{
    margin: 3% 0 20% 0;
}
